<div class="page-header">
  <h1>Pedidos <small><a class="btn btn-success btn-gepro pull-right" href="/#/pedidos/crear" role="button">Nuevo</a></small></h1>
</div>
<table class="table table-stripped">
  <thead>
    <td><b>Proveedor</b></td>
    <td><b>Descripcion</b></td>
    <td><b>Estado del Pedido</b></td>
    <td><b>Total</b></td>
    <td class="text-center">Acciones</td>
  </thead>
  <tr ng-repeat="pedido in pedidos">
    <td>{{ pedido.proveedor }}</td>
    <td class="table-text">
      <div>{{ pedido.descripcion | limitTo: 30 }} {{pedido.descripcion.length > 20 ? '...' : ''}}</div>
    </td>
    <td>{{pedido.estado}}</td>
    <td>{{pedido.importe}}</td>
    <td class="text-center">
      <a type="button" class="btn btn-success btn-gepro" ui-sref="pedido({pedidoId: pedido.id})">Ver</a>
      <a type="button" class="btn btn-info" ng-click="finalizarPedido(pedido.id)" ng-show="pedido.estado !== 'FINALIZADO'">Finalizar</a>
      <a type="button" class="btn btn-danger" ng-click="eliminarPedido(pedido.id)">Eliminar</a>
    </td>
  </tr>
</table>
