<div print-section>
<div class="panel panel-default col-xs-12 no-padding">
  <div class="panel-heading">
    <h2 class="panel-title"><b>Detalle del Pedido</b></h2>
  </div>
  <div class="panel-body">
    <p><b>Proveedor: {{ pedido.proveedor}}</b></p>
    <p><b>Descripcion: {{ pedido.descripcion}}</b></p>
    <!--p><b>Estado del Pedido: {{ pedido.estado}}</b> </p-->
  </div>
</div>
<table class="table">
  <thead>
    <th>Producto</th>
    <th class="text-center">Cantidad</th>
    <th class="text-center">Precio Unitario</th>
    <th class="text-center">Subtotal</th>
  </thead>
  <tfoot>
    <td></td>
    <td></td>
    <td><b class="pull-right">Total</b></td>
    <td class="text-center total">{{ pedido.importe }}</td>
  </tfoot>
  <tbody ng-repeat="producto in pedido.items">
    <tr>
      <td >{{ producto.descripcion }} {{producto.marca}}</td>
      <td class="text-center">{{ producto.cantidad }}</td>
      <td class="text-center">{{ producto.precio }}</td>
      <td class="text-center">{{ producto.precio * producto.cantidad }}</td>
    </tr>
  </tbody>
</table>
</div>
<br>
 <div class="col-xs-12 margin-bottom">
    <!--button type="submit" class="btn btn-primary pull-right"
        ng-click="finalizarPedido()">Finalizar</button-->
    <button type="submit" class="btn btn-danger pull-right eliminar-btn"
        ng-click="eliminarPedido()">Eliminar</button>
    <button type="submit" class="btn btn-success pull-right eliminar-btn" print-btn>Imprimir</button>
  </div>

